@charset 'utf-8';

p{
    font-size: 20px;
    font-weight: bold;
    color: rgb(80,80,80);
    margin-left: 30px;
}

.selectbox{
    background-color: rgba(230,230,230,0.8);
    width: 100px;
    height: 40px;

}